
body>header>div>ul>li:nth-of-type(1)>a{
    color:#9ebb25;
    text-decoration: none;
}
body>section>div>div>div>img{
    margin-top:2%;
    max-width: 95%;
}
body>section>div>div>div>div>div>div>p{
    text-align: left;
    text-indent: 20%;
}