
body>header>div>ul>li:nth-of-type(1)>a{
    color:#9ebb25;
    text-decoration: none;
}
.photopharma{
    margin-top:2%;
    width: 95%;
}
.cellule{
    padding-left: 0px;
    padding-right: 0px;
}
#stext{
    color:#737371;
    font-size: 18px;
    text-align: center;
    text-indent: 0%;
    padding-top: 3%;
}
body>section>div>div>div>div>div>div>p{
    text-align: left;
    text-indent: 20%;
}
#pharmupp{
    max-width: 187px;
    max-height: 125px;
}
body>section>div>div>div>div>div>div:nth-of-type(4)>a:hover{
    text-decoration: none;
}
body>section>div>div>div>container{
    background-color: red;
    overflow: hidden;
}
.horaire{
    color:#9ebb25;
    font-size: 28px;
}
.coordonnee{
    color:#9ebb25;
    font-size: 20px;
}