<link rel="stylesheet" href="./css/accueil.css">
<link rel="stylesheet" href="./css/slideshowtempl.css">
<div ng-controller="SliderController">
    <slider images="images"/>
</div>
<div id="tableau-acc"class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 cellule">
            <h1><span class="underline">Horaires</span> :</h1>
            <h2>Du Lundi au Vendredi :</h2> 
            <p class="horaire">8h15 à 12h15</p> 
            <p class="horaire">14h à 19h</p>
            <h2>Le Samedi :</h2> 
            <p class="horaire">8h15 à 12h45</p>
        </div>
        <div class="col-xs-12 col-sm-6 cellule">
            <h1><span class="underline">Coordonnées</span> :</h1>
            <h2>Adresse :</h2>
            <p class="coordonnee">68 rue Boecklin</p>
            <p class="coordonnee">67000 Strasbourg</p>
            <h2>Téléphone :</h2>
            <p class="coordonnee">03.88.31.04.26</p>
            <h2>Fax :</h2>
            <p class="coordonnee">03.88.41.97.50</p>
        </div>
        <div class="col-xs-12 cellule">
            <a href="http://www.pharm-upp.fr/" target="_blank">
                <h1><span class="underline">Groupement Pharmaceutique</span> :</h1>
                <img id="pharmupp" src="./images/autre/logo-pharmupp.jpg" alt="logo Pharm-Upp">
            </a>
        </div>
    </div>
</div>