<link rel="stylesheet" href="./css/accueil.css"> 
<img src="./images/autre/illustrations/pharma.jpg" id="photopharma">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 cellule">
            <h1><span class="underline">Horaires</span> :</h1>
            <h2>Du Lundi au Vendredi :</h2> 
            <p>Le matin de 8h15 à 12h15</p> 
            <p>L'après midi de 14h à 19h</p>
            <h2>Le Samedi :</h2> 
            <p>Le matin de 8h15 à 12h45</p>
        </div>
        <div class="col-xs-12 col-sm-6 cellule">
            <h1><span class="underline">Coordonnées</span> :</h1>
            <h2>Adresse :</h2>
            <p>68 rue Boeklin</p>
            <p>67000 Strasbourg</p>
            <h2>Téléphone :</h2>
            <p>03.88.31.04.26</p>
            <h2>Fax :</h2>
            <p>03.88.41.97.50</p>
        </div>
    </div>
</div>