<link rel="stylesheet" href="./css/equipe.css">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-2">
            <h2><span class="underline">Pharmacien Titulaire</span> :</h2>
            <p>Dr J. Schwarzenbart</p>
            <h2><span class="underline">Pharmaciens Adjoints</span> :</h2> 
            <p>Dr C. Ambos</p>
            <p>Dr  N. Schuster Haller</p>
            <p>Dr A. Weisse</p>
            <h2><span class="underline">Préparateurs</span> :</h2>
            <p>Mme F. Geissler</p>
            <p>Mr V. Lalli</p>
            <p>Mme C. Stein</p>
            <h2><span class="underline">Responsable des commandes</span> :</h2> 
            <p>Mme D. Rahm</p>
        </div>
    </div>