<link rel="stylesheet" href="./css/equipe.css">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-offset-3">
            <h2><span class="underline">Pharmacien Titulaire</span> :</h2>
            <p>Dr J. S<span class="ptemaj">CHWARZENBART</span></p>
            <h2><span class="underline">Pharmaciens Adjoints</span> :</h2> 
            <p>Dr C. A<span class="ptemaj">MBOS</span></p>
            <p>Dr  N. S<span class="ptemaj">CHUSTER</span> H<span class="ptemaj">ALLER</span></p>
            <p>Dr A. W<span class="ptemaj">EISSE</span></p>
            <h2><span class="underline">Préparateurs</span> :</h2>
            <p>Mme F. G<span class="ptemaj">EISSLER</span></p>
            <p>Mr V. L<span class="ptemaj">ALLI</span></p>
            <p>Mme C. S<span class="ptemaj">TEIN</span></p>
            <h2><span class="underline">Responsable des commandes</span> :</h2> 
            <p>Mme D. R<span class="ptemaj">AHM</span></p>
        </div>
    </div>