<link rel="stylesheet" href="./css/mapharmacie.css"> 

Voici les grandes marques que vous pouvez trouver chez nous :

<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/avene.jpg">
    <img class="col-xs-4" src="./images/logo_marque/caudalie1.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo20mavala.jpg">
</div>
<div class="row">    
    <img class="col-xs-4" src="./images/logo_marque/novalac.jpg">
    <img class="col-xs-4" src="./images/logo_marque/nuxe.jpg">
    <img class="col-xs-4" src="./images/logo_marque/oenobiol.jpg">
</div>
<div class="row">        
    <img class="col-xs-4" src="./images/logo_marque/r-g.jpg">
    <img class="col-xs-4" src="./images/logo_marque/ropo.jpg">
    <img class="col-xs-4" src="./images/logo_marque/scholl.jpg">
</div>
<div class="row">    
    <img class="col-xs-4" src="./images/logo_marque/thuasne.jpg">
    <img class="col-xs-4" src="./images/logo_marque/vichy.png">
    <img class="col-xs-4" src="./images/logo_marque/tena.jpg">
</div>
<div class="row">    
    <img class="col-xs-4" src="./images/logo_marque/mustela.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo-klorane.jpg">
    <img class="col-xs-4" src="./images/logo_marque/pileje.jpg">
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <img class="col-xs-4"src="./images/logo_marque/Logo-Naturactive.jpg">
    <img class="col-xs-4"src="./images/logo_marque/logo-phytosun.jpg">
</div>