<link rel="stylesheet" href="./css/mapharmacie.css"> 

<h2>Nos principales marques :</h2>

<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_caudalie.jpg" alt="Caudalie">
    <img class="col-xs-4" src="./images/logo_marque/logo_nuxe.jpg" alt="Nuxe">
    <img class="col-xs-4" src="./images/logo_marque/logo_rg.jpg" alt="Roger & Gallet">
</div>
<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_avene.jpg" alt="Avène">
    <img class="col-xs-4" src="./images/logo_marque/logo_rochep.jpg" alt="la Roche-Posay">
    <img class="col-xs-4" src="./images/logo_marque/logo_vichy.jpg" alt="Vichy">
</div>
<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_novalac.jpg" alt="Novalac">
    <img class="col-xs-4" src="./images/logo_marque/logo_mustela.jpg" alt="Mustela">
    <img class="col-xs-4" src="./images/logo_marque/logo_avent.jpg" alt="Avent">
</div>
<div class="row">    
    <img class="col-xs-4" src="./images/logo_marque/logo_mavala.jpg" alt="Mavala">
    <img class="col-xs-4" src="./images/logo_marque/logo_oenobiol.jpg" alt="Oenobiol">
    <img class="col-xs-4" src="./images/logo_marque/logo_klorane.jpg" alt="Klorane">
</div>
<div class="row">    
    <img class="col-xs-4"src="./images/logo_marque/logo_naturactive.jpg" alt="Naturactive">
    <img class="col-xs-4"src="./images/logo_marque/logo_phytosun.jpg" alt="Phytosun">
    <img class="col-xs-4" src="./images/logo_marque/logo_pileje.jpg" alt="Pileje">
</div>
<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_tena.jpg" alt="Tena">
    <img class="col-xs-4" src="./images/logo_marque/logo_scholl.jpg" alt="Scholl">
    <img class="col-xs-4" src="./images/logo_marque/logo_thuasne.jpg" alt="Thuasne">
</div>