<link rel="stylesheet" href="./css/mapharmacie.css"> 

<h2>Nos principales marques :</h2>

<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_caudalie.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_nuxe.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_rg.jpg">
</div>
<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_avene.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_rochep.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_vichy.jpg">
</div>
<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_novalac.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_mustela.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_avent.jpg">
</div>
<div class="row">    
    <img class="col-xs-4" src="./images/logo_marque/logo_mavala.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_oenobiol.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_klorane.jpg">
</div>
<div class="row">    
    <img class="col-xs-4"src="./images/logo_marque/logo_naturactive.jpg">
    <img class="col-xs-4"src="./images/logo_marque/logo_phytosun.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_pileje.jpg">
</div>
<div class="row">
    <img class="col-xs-4" src="./images/logo_marque/logo_tena.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_scholl.jpg">
    <img class="col-xs-4" src="./images/logo_marque/logo_thuasne.jpg">
</div>