<link rel="stylesheet" href="./css/noussituer.css"> 

<p>Située au centre du quartier de la Robertsau.<br>
    En face du Crédit Mutuel.<br> 
    A 50 m du "U Express" et de la Poste.<br>
    Accès handicapé. <img src="./images/autre/picto-PMR.jpg"></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.4747063423692!2d7.781565000000004!3d48.600756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c893bfc15427%3A0x9641fcceda7ffe23!2sPharmacie+Schwarzenbart!5e0!3m2!1sfr!2sfr!4v1434773015149" width="600" height="450" frameborder="0" style="border:0"></iframe>