<link rel="stylesheet" href="./css/servicescompetences.css"> 
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Délivrance de médicaments</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Préparations pharmaceutiques</h2>
    </div>
</div>
<div class="row">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/delivrance.jpg">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/preparation.jpg">
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Homéopathie</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Phytothérapie</h2>
    </div>
</div>
<div class="row">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/homeopathie.jpg">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/phytotherapie.jpg">
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Aromathérapie</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Parapharmacie</h2>
    </div>
</div>
<div class="row">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/aromatherapie.jpg">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/parapharma.jpg">
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Orthopédie</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Contention veineuse</h2>
    </div>
</div>
<div class="row">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/orthopedie.jpg">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/contention.jpg">
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Matériel médical</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Espace bébé</h2>
    </div>
</div>
<div class="row">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/materielmed.jpg">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/baby.jpg">
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Produits vétérinaires</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Incontinence</h2>
    </div>
</div>
<div class="row">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/prdtveto.jpg">
    <img class="col-xs-12 col-sm-6 illustration" src="./images/autre/illustrations/incontinence.jpg">
</div>